<nav><ul><li><strong><a routerLink="/ProductSearch">Search Product</a></strong></li>

    <li><strong><a routerLink="/Demo">Demo</a></strong></li>
    
    <li><strong><a routerLink="/Addcomponent">Add Product</a></strong></li>
    
    <li><strong><a routerLink="/Display">Display Products</a></strong></li>

    <li><strong><a routerLink="/Validation">Validation</a></strong></li>

    <li><strong><a routerLink="/ReactiveForm">ReactiveForm</a></strong></li>

    <li><strong><a routerLink="/parent">ParentChild</a></strong></li>

</ul>
</nav>
<router-outlet></router-outlet>