
<div>
<h1><strong>All Available Products</strong></h1><br>
Search: <br>
<input type="text" [(ngModel)]='query' name="query">
{{query}}
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Description</th>
            <th>Product Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | search:query">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productImageUrl}}</td>          
            
        </tr>
    </tbody>
</table>

</div>

