<div class="input-container"><form>
  ProductId:  <input type="number" [(ngModel)]="newProduct.productId" name="productId">
  <br>

  ProductName:<input type="text" [(ngModel)]="newProduct.productName" name="productName">
  <br>
  ProductPrice:<input type="number" [(ngModel)]="newProduct.productPrice" name="productPrice">
  <br>
  ProductDescription:<input type="text" [(ngModel)]="newProduct.productDescription" name="productDescription">
  <br>
  ProductImage:<input type="text" [(ngModel)]="newProduct.productImageUrl" name="productImageUrl">
  <br>
  <button (click)="addProduct()" class="btn btn-danger"> Add </button>
</form>
</div>
