<strong><p>PARENT COMPONENT</p></strong>
<p>Received from Child: {{ childMessage | star}}</p>
<div class="table-div">
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Description</th>
            <th>Product Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" (click)="selectedProduct(product)">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productImageUrl}}</td>          
            
        </tr>
    </tbody>
</table>
</div>
<hr>
<app-child [message]="parentMessage" (notifyParent)="receiveMessage($event)" *ngIf="product" [selectedProduct]="product"></app-child>
